package:
  name: {{ name }}
  version: {{ version }}

build:
  ignore_run_exports:
    - _x86_64-microarch-level

requirements:
  build:
{%- for pkg, ver in packages | items %}
    - {{ pkg }} {{ '{{' }} {{ ver }} {{ '}}' }}
{%- endfor %}

  run:
{%- raw %}
  {%- for package in resolved_packages('build') %}
    - {{ package.split(' ')[:2] | join(' ') }}.*
  {% endfor %}
{%- endraw %}

extra:
  rachis:
    integration_git_head_ref: {{ env.GITHUB_HEAD_REF or 'placehold' }}
