package:
    name: {{ name }}
    version: {{ version }}
source:
    path: .
build:
    script: {{ build.command }}
requirements:
    host:
        - python {{ python }}
        - setuptools {{ setuptools }}
    run:
        - python {{ python }}
        {%- for requirement in requirements.qiime2 %}
        - {{ requirement }}
        {%- endfor %}
        {%- for requirement in requirements.anaconda %}
        - {{ requirement }}
        {%- endfor %}
{% if test.imports or test.commands -%}
test:
    {% if test.imports -%}
    imports: 
        {%- for import in test.imports %}
        - {{ import }}
        {%- endfor %}
    {%- endif %}
    {% if test.commands -%}
    commands: 
        {%- for command in test.commands %}
        - {{ command }}
        {%- endfor %}
    {%- endif %}
{%- endif %}