package:
    name: {{ name }}
    version: {{ version }}
source:
    path: .
build:
    script: {{ build.command }}
requirements:
    host:
        - python {{ python }}
        - setuptools {{ setuptools }}
    run:
        - python {{ python }}
        {{ requirements.qiime2 }}
        {{ requirements.anaconda }}
{% if test.imports or test.commands -%}
test:
    {%- if test.imports -%}
    imports: {{ test.imports }}
    {%- endif %}
    {% if test.commands -%}
    commands: {{ test.commands }}
    {%- endif %}
{%- endif %}