{% for pkg in package -%}
package:
    name: {{ pkg.name }}
    version: {{ pkg.version }}
{% endfor -%}
source:
    path: .
{% for bld in build -%}
build:
    script: {{ bld.command }}
{% endfor -%}
{% for req in requirements -%}
requirements:
    host:
        - python {{ python }}
        - setuptools {{ setuptools }}
    run:
        - python {{ python }}
        {{ req.qiime2 }}
        {{ req.anaconda }}
{% endfor -%}
{% for tst in test -%}
test:
    imports: {{ tst.imports }}
    commands: {{ tst.commands }}
{% endfor -%}
#TODO: about segment from plugin